
#memblogin{
	text-align: center;
	padding: 40px;
	margin-top:100px ;
	background-color: #5BC0DE;
	height:500px;
}

#register{
	
	padding: 50px;
	height: 500px;
	margin-top: 100px;
	text-align: center;
	background-color:rgba(0,70,100,0.6);
	
}


#admin{
	padding: 50px;
	height: 500px;
	margin-top: 100px;
	text-align: center;
	background-color:#269ABC;
}