<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.java.mapper.CategoryMapper">

<!-- <resultMap type="category" id="CaqtegoryAndGoods">
	<id property="c_id" column="c_id"/>
	<result property="c_name" column="c_name"/>
	<collection property="goods" ofType="goods" >
		<id property="g_id" column="g_id"/>
		<result property="g_name" column="g_name"/>
		<result property="g_price" column="g_price"/>
	</collection>
</resultMap> -->
<select id="findAll" resultType="category" >
	select * from category
</select>
<select id="load" parameterType="int" resultType="category">
	select * from category where c_id = #{c_id}
</select>
<select id="findByName" parameterType="category" resultType="category">
	select * from category  where c_name = #{c_name}
	<if test="c_id">
		and c_id != #{c_id}
	</if> 
</select>
<insert id="add" parameterType="category">
	insert into category values(c_id,#{c_name})
</insert>

<delete id="delete" parameterType="int">
	delete from category where c_id in (
	<foreach collection="array" item="c_id" index="0" separator=",">
		#{c_id}
	</foreach> )
</delete>
<update id="edit" parameterType="category">
	update category set c_name = #{c_name} where c_id = #{c_id}
</update>
</mapper>