<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.java.mapper.GoodsMapper">

<resultMap type="goods" id="GoodsAndCategory">
	<id property="g_id" column="g_id"/>
	<result property="g_name" column="g_name"/>
	<result property="g_price" column="g_price"/>
	<association property="category" javaType="category">
		<id property="c_id" column="c_id"/>
		<result property="c_name" column="c_name"/>
	</association>
</resultMap>
<select id="findAll" resultMap="GoodsAndCategory">
	select * from goods g,category c where g.c_id = c.c_id
</select>

</mapper>