<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.java.mapper.GoodsMapper">

<resultMap type="goods" id="GoodsAndCategory">
	<id property="g_id" column="g_id"/>
	<result property="g_name" column="g_name"/>
	<result property="g_price" column="g_price"/>
	<result property="g_imgUrl" column="g_imgUrl"/>
	<association property="category" javaType="category">
		<id property="c_id" column="c_id"/>
		<result property="c_name" column="c_name"/>
	</association>
	<association property="brand" javaType="brand">
		<id property="b_id" column="b_id" />
		<result property="b_name" column="b_name" />
	</association>
</resultMap>
<select id="findAll" parameterType="goods" resultMap="GoodsAndCategory">
	select * from goods g,category c,brand b where g.c_id = c.c_id and g.b_id=b.b_id
	<if test="g_name">
		and g.g_name like '%${g_name}%'
		
	</if>
	<if test="brand">
		and b.b_name=#{brand.b_name}
	</if>
	<if test="category">
		and	g.c_id=#{category.c_id} 
		</if>
</select>
<select id="findPage" resultType="goods">
	 select * from goods g,category c,brand b where g.c_id = c.c_id and g.b_id=b.b_id
	 <if test="b_name">
		and b.b_name=#{b_name} 
	 </if>
	<if test="g_name">
		and g_name like '%${g_name}%'
	</if>
	  limit #{startPage},#{pageSize}
</select>
<insert id="add" parameterType="goods">
	insert into goods values(g_id,#{g_name},#{g_price},#{category.c_id},#{g_imgUrl},#{brand.b_id})
</insert>
<delete id="delete" parameterType="int">
	delete from goods where g_id in (
	<foreach collection="array" item="g_id" index="0" separator=",">
		#{g_id}
	</foreach>
	)
</delete>
<update id="edit" parameterType="goods">
	update goods set g_name=#{g_name},g_price=#{g_price},c_id=#{category.c_id},g_imgUrl=#{g_imgUrl},b_id=#{brand.b_id} 
	where g_id=#{g_id}
</update>
<select id="findByName" parameterType="goods" resultType="goods">
	select * from goods where g_name = #{g_name}
	<if test="g_id">
		and g_id !=#{g_id}
	</if>
</select>
<select id="load" parameterType="int" resultMap="GoodsAndCategory">
	select * from goods g,category c,brand b where g_id = #{g_id} and g.c_id = c.c_id and g.b_id = b.b_id
</select>
</mapper>