<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.java.mapper.UserMapper">

<select id="find" parameterType="user" resultType="user">
	select * from user where u_username = #{u_username} 
	<if test="u_password">
		and
	 	   u_password = #{u_password}
	</if>
	
	
</select>
<select id="activeFind" resultType="user">
	select * from user where u_activeCode=#{u_activeCode}
</select>
	
	<select id="loadByID" parameterType="user" resultType="user">
		select * from user where u_id = #{u_id}
	</select>
	<update id="statusUpdate" parameterType="user">
		update user set  u_status=#{u_status} where u_username=#{u_username}
	</update>
	
<insert id="register" parameterType="user">
<if test="u_username !=null and u_password!=null and u_name!=null and u_email!=null and u_phone!=null">
	insert into user(u_username,u_password,u_name,u_email,u_phone,u_activeCode,u_createTime)
	 values(#{u_username},#{u_password},#{u_name},#{u_email},#{u_phone},#{u_activeCode},#{u_createTime})
	
</if>
</insert>
<update id="update" parameterType="user">
	update user set u_name = #{u_name},u_password = #{u_password},u_email = #{u_email},u_phone = #{u_phone},u_status = #{u_status}
	where u_id = #{u_id}
</update>

<insert id="add" parameterType="user">
	insert into user(u_username,u_password,u_name,u_email,u_phone,u_activeCode,u_createTime,u_status)
	 values(#{u_username},#{u_password},#{u_name},#{u_email},#{u_phone},#{u_activeCode},#{u_createTime},#{u_status})
	
</insert>

<insert id="addUsers" parameterType="user">
	insert into user(u_username,u_password,u_name,u_email,u_phone,u_activeCode,u_createTime,u_status)
	 values
	 <foreach collection="users" item="user" separator=",">
	 	(#{user.u_username},#{user.u_password},#{user.u_name},#{user.u_email},#{user.u_phone},#{user.u_activeCode},#{user.u_createTime},#{user.u_status})
	 </foreach>	
</insert>

<select id="findAll" resultType="user">
	select * from user
	<if test="u_username">
		where u_username like '%${u_username}%'
	</if>
</select>

<delete id="delete" parameterType="int">
	delete  from user where u_id in (
		
		<foreach collection="array" item="tagId" index="index"  separator=",">
			#{tagId}
		</foreach> 
		
		) 
</delete>


</mapper>