<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.java.mapper.UserMapper">

<select id="find" parameterType="user" resultType="user">
	select * from user where u_username = #{u_username} 
	<if test="u_password != null">
		and
	 	   u_password = #{u_password}
	</if>
	
	
</select>
<select id="activeFind" resultType="user">
	select * from user where u_activeCode=#{u_activeCode}
</select>
	
	<select id="loadByID" parameterType="user" resultType="user">
		select * from user where 
		<if test="u_id != null">u_id = #{u_id}</if>
		<if test="u_email != null and u_id==null">u_email = #{u_email}</if>
		<if test="u_phone != null and u_id==null">u_phone = #{u_phone}</if> 
	</select>
	<update id="statusUpdate" parameterType="user">
		update user set  u_status=#{u_status} where u_username=#{u_username}
	</update>
	
<insert id="register" parameterType="user">

	insert into user(u_username,u_password,u_name,u_email,u_phone,u_activeCode,u_createTime,u_status,u_address)
	 values(#{u_username},#{u_password},#{u_name},#{u_email},#{u_phone},#{u_activeCode},#{u_createTime},#{u_status},#{u_address})
	
</insert>
<update id="update" parameterType="user">
	update user set u_name = #{u_name},u_password = #{u_password},u_email = #{u_email},
	u_phone = #{u_phone},u_status = #{u_status},u_address = #{u_address}
	where u_id = #{u_id}
</update>

<insert id="add" parameterType="user">
	insert into user(u_username,u_password,u_name,u_email,u_phone,u_activeCode,u_createTime,u_status,u_address)
	 values(#{u_username},#{u_password},#{u_name},#{u_email},#{u_phone},#{u_activeCode},#{u_createTime},#{u_status},#{u_address})
	
</insert>

<insert id="addUsers" parameterType="user">
	insert into user(u_username,u_password,u_name,u_email,u_phone,u_activeCode,u_createTime,u_status,u_address)
	 values
	 <foreach collection="list" item="user" separator=",">
	 	(#{user.u_username},#{user.u_password},#{user.u_name},#{user.u_email},#{user.u_phone},
	 	#{user.u_activeCode},#{user.u_createTime},#{user.u_status},#{u_address})
	 </foreach>	
</insert>

<select id="findAll" resultType="user">
	select * from user
	<if test="u_username">
		where u_username like '%${u_username}%'
	</if>
</select>

<delete id="delete" parameterType="int">
	delete  from user where u_id in (
		
		<foreach collection="array" item="tagId" index="index"  separator=",">
			#{tagId}
		</foreach> 
		
		) 
</delete>
<update id="updateValidateCode" parameterType="user">
	update user set u_validate = #{u_validate} where u_id = #{u_id}
</update>
<select id="validateEmail" parameterType="user" resultType="user">
	select * from user where u_id = #{u_id} and u_validate = #{u_validate}
</select>
<update id="updatePWD" parameterType="user">
	update user set u_password = #{u_password} where u_id = #{u_id}
</update>
</mapper>